<div class="form">
  <div class="form__dropdown">
    <input type="text" class="form__control" placeholder="Search for products...">
    <button class="form__dropdown-select">
      All categories <i class="fa fa-caret-down"></i>
    </button>
    <ul class="form__dropdown-list show">
      <li class="form__dropdown-item">Swimming Shorts</li>
      <li class="form__dropdown-item">T-Shirt</li>
      <li class="form__dropdown-item">Sweatshirt</li>
      <li class="form__dropdown-item">Tracksuit</li>
      <li class="form__dropdown-item">Corset</li>
    </ul>
  </div>
</div>
