<div class="grid-container py-xl">
  <div class="grid-x grid-padding-x">
    <div class="small-6 cell">
      <h2 class="text-uppercase text-large mb-sm">Let's talk together</h2>
      <p class="text-muted m-0">
        The streak started in late October. Canelas 2010, an unheralded amateur soccer team, suddenly could not stop winning. It
        went 10 straight matches without dropping a point.
      </p>
      <h2 class="text-uppercase text-large mb-md mt-lg">Send a message</h2>
      <form action="/" class="form">
        <div class="mb-md">
          <label for="name">Name</label>
          <input type="text" id="name" class="form__control">
        </div>
        <div class="mb-md">
          <label for="email">Email</label>
          <input type="mail" id="email" class="form__control">
        </div>
        <div class="mb-md">
          <label for="message">Message</label>
          <textarea name="message" id="message" rows="4" class="form__control"></textarea>
        </div>
        <button class="btn btn--secondary text-uppercase">Send message</button>
      </form>
    </div>
    <div class="small-6 cell">
      <div class="mb-lg">
        <img src="https://unsplash.it/600/270" alt="map">
      </div>
      <h2 class="text-uppercase text-large mb-sm">Our address</h2>
      <p class="text-muted mb-md">470 Lucy Forks, Patriciafurt, YC7B 3UT</p>
      <ul class="mb-md list-unstyled text-muted">
        <li>(0161) 347 8854</li>
        <li>(0117) 900 9463</li>
      </ul>
      <p class="text-muted m-0">example@mail.com</p>
      <h2 class="text-uppercase text-large mb-sm mt-lg">Opening hours</h2>
      <ul class=" list-unstyled text-muted">
        <li>Monday to Friday: 10am - 9pm</li>
        <li>Saturday & Sunday: 10am - 11pm</li>
      </ul>
    </div>
  </div>
</div>
