<article class="card" style="width: 800px">
  <a href="#" class="card__thumbnail hover">
    <img src="https://unsplash.it/800/450?image=951" alt="Thumbnail">
    <div class="card__thumbnail-addon card__thumbnail-addon--2">T-shirt Women</div>
  </a>
</article>
