<div class="p-md bg-gray">
  <article class="card-2" style="max-width: 400px">
    <a href="#" class="card-2__thumbnail">
      <img src="https://unsplash.it/400/225/" alt="thumbnail">
    </a>
    <div class="card-2__body">
      <div class="card-2__content">
        <div class="card-2__sub-title mb-sm">Jun 18, 2017</div>
        <a href="#" class="card-2__title mb-sm">Fashion simple kids winter set 2015</a>
        <p class="card-2__text mb-0">Swimming hundreds of feet beneath the ocean’s surface in many parts of the world are prolific architects called giant larvaceans. These zooplankton are not particularly giant themselves.</p>
        <a href="#" class="btn btn--link btn--bold text-uppercase mt-sm">Read more <i class="fa fa-caret-right"></i></a>
      </div>
    </div>
  </article>
</div>
