<footer>
  <div class="bg-dark py-lg">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <div class="sh-2 sh-2--invert mb-lg">
            <h2 class="sh-2__title">Popular Products</h2>
          </div>
          <p class="text-muted text-small">Contact us at the address or phone number below. Save moments romatic of you with couple’s collection from Everest if you want !</p>
          <ul class="list-unstyled text-muted text-small">
            <li class="mb-md"><i class="fa fa-map-marker fa-fw"></i> 728 Dooley Branch, Beckershire, LA 63598-2909</li>
            <li class="mb-md"><i class="fa fa-phone fa-fw"></i> (0161) 347 8854</li>
            <li><i class="fa fa-envelope fa-fw"></i> hello@company.com</li>
          </ul>
        </div>
        <div class="medium-2 cell">
          <div class="sh-2 sh-2--invert mb-lg">
            <h2 class="sh-2__title">Information</h2>
          </div>
          <ul class="list-unstyled text-small">
            <li class="mb-md">
              <a href="#" class="text-muted">SiteMap</a>
            </li>
            <li class="mb-md">
              <a href="#" class="text-muted">Search Terns</a>
            </li>
            <li class="mb-md">
              <a href="#" class="text-muted">Advanced Search</a>
            </li>
            <li class="mb-md">
              <a href="#" class="text-muted">About Us</a>
            </li>
            <li class="mb-md">
              <a href="#" class="text-muted">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="medium-2 cell">
          <div class="sh-2 sh-2--invert mb-lg">
            <h2 class="sh-2__title">Customer care</h2>
          </div>
          <ul class="list-unstyled text-small">
            <li class="mb-md">
              <a href="#" class="text-muted">My voucher</a>
            </li>
            <li class="mb-md">
              <a href="#" class="text-muted">Login</a>
            </li>
            <li class="mb-md">
              <a href="#" class="text-muted">My Cart</a>
            </li>
            <li class="mb-md">
              <a href="#" class="text-muted">WishLisht</a>
            </li>
            <li class="mb-md">
              <a href="#" class="text-muted">Checkout</a>
            </li>
          </ul>
        </div>
        <div class="medium-2 cell">
          <div class="sh-2 sh-2--invert mb-lg">
            <h2 class="sh-2__title">Client service</h2>
          </div>
          <ul class="list-unstyled text-small">
            <li class="mb-md">
              <a href="#" class="text-muted">Money Back</a>
            </li>
            <li class="mb-md">
              <a href="#" class="text-muted">Free Shipping</a>
            </li>
            <li class="mb-md">
              <a href="#" class="text-muted">Support</a>
            </li>
            <li class="mb-md">
              <a href="#" class="text-muted">Orders & Returns</a>
            </li>
            <li class="mb-md">
              <a href="#" class="text-muted">Gif Vourcher</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="grid-container cell">
      <div class="divider-dark my-md"></div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x align-items-center">
        <div class="medium-6 cell">
          <ul class="list-inline text-white">
            <li><i class="fa fa-facebook"></i></li>
            <li><i class="fa fa-google-plus"></i></li>
            <li><i class="fa fa-twitter"></i></li>
            <li><i class="fa fa-pinterest"></i></li>
            <li><i class="fa fa-instagram"></i></li>
          </ul>
        </div>
        <div class="medium-2 cell">
          <span class="text-uppercase text-white">Newsletter</span>
        </div>
        <div class="medium-4 cell">
          <form action="/" class="form">
            <input type="email" class="form__control" placeholder="Enter your email">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-black py-md">
    <div class="grid-container cell">
      <div class="d-flex align-items-center">
        <p class="m-0 text-muted text-small">
          &copy; 2017 Made with <i class="fa fa-keyboard-o text-secondary"></i>. All Rights Reserved.
        </p>
        <ul class="list-inline text-white ml-auto">
          <li><i class="fa fa-cc-mastercard"></i></li>
          <li><i class="fa fa-cc-visa"></i></li>
          <li><i class="fa fa-paypal"></i></li>
          <li><i class="fa fa-google-wallet"></i></li>
        </ul>
      </div>
    </div>
  </div>
</footer>