<div class="grid-container py-xl">
  <div class="grid-x grid-padding-x mb-xl">
    <div class="medium-3 cell">
      <article class="card">
        <a href="#" class="card__thumbnail hover">
          <img src="https://unsplash.it/275/581?image=267" alt="Thumbnail">
          <div class="card__thumbnail-addon card__thumbnail-addon--2">T-shirt Women</div>
        </a>
      </article>
    </div>
    <div class="medium-6 cell">
      <article class="card">
        <a href="#" class="card__thumbnail hover">
          <img src="https://unsplash.it/570/570?image=221" alt="Thumbnail">
          <div class="card__thumbnail-addon card__thumbnail-addon--2">Men Collection</div>
        </a>
      </article>
    </div>
    <div class="medium-3 cell d-flex flex-column justify-content-between">
      <article class="card">
        <a href="#" class="card__thumbnail hover">
          <img src="https://unsplash.it/270/270?image=268" alt="Thumbnail">
          <div class="card__thumbnail-addon card__thumbnail-addon--2">Shoes Collection</div>
        </a>
      </article>
      <article class="card">
        <a href="#" class="card__thumbnail hover">
          <img src="https://unsplash.it/270/270?image=269" alt="Thumbnail">
          <div class="card__thumbnail-addon card__thumbnail-addon--2">Men's Accessories </div>
        </a>
      </article>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="small-12 cell mb-md">
      <div class="sh">
        <h2 class="sh__title">New Arrivals</h2>
      </div>
    </div>
    <div class="small-3 cell">
      {{> molecules-card}}
    </div>
    <div class="small-3 cell">
      {{> molecules-card}}
    </div>
    <div class="small-3 cell">
      {{> molecules-card}}
    </div>
    <div class="small-3 cell">
      {{> molecules-card}}
    </div>
  </div>
</div>
