<div class="py-xl bg-gray">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="small-12 cell mb-md">
        <div class="sh">
          <h2 class="sh__title">From The Blog</h2>
        </div>
      </div>
      <div class="small-4 cell">
        {{> molecules-card-2}}
      </div>
      <div class="small-4 cell">
        {{> molecules-card-2}}
      </div>
      <div class="small-4 cell">
        {{> molecules-card-2}}
      </div>
    </div>
  </div>
</div>
