<div class="grid-container text-center mb-xl">
  <div class="grid-x grid-padding-x">
    <div class="small-12 cell">
      <h2 class="text-uppercase text-size-h3 mb-sm">Brains Behind Everest</h2>
    </div>
    <div class="small-6 small-offset-3 cell">
      <p class="mb-0 text-muted">He had changes day and include ruining in would pretty train my not one agreeable. </p>
    </div>
  </div>
</div>

<div class="grid-x">
  <div class="small-3">
    <figure class="card-3">
      <img src="https://unsplash.it/300/400?image=1003" class="card-3__thumbnail" alt="Image">
      <figcaption class="card-3__content">
        <div class="card-3__title">Eva D. Dortch</div>
        <div class="card-3__sub-title">Housekeeper</div>
      </figcaption>
    </figure>
  </div>
  <div class="small-3">
    <figure class="card-3">
      <img src="https://unsplash.it/300/400?image=1002" class="card-3__thumbnail" alt="Image">
      <figcaption class="card-3__content">
        <div class="card-3__title">Eva D. Dortch</div>
        <div class="card-3__sub-title">Housekeeper</div>
      </figcaption>
    </figure>
  </div>
  <div class="small-3">
    <figure class="card-3">
      <img src="https://unsplash.it/300/400?image=1001" class="card-3__thumbnail" alt="Image">
      <figcaption class="card-3__content">
        <div class="card-3__title">Eva D. Dortch</div>
        <div class="card-3__sub-title">Housekeeper</div>
      </figcaption>
    </figure>
  </div>
  <div class="small-3">
    <figure class="card-3">
      <img src="https://unsplash.it/300/400?image=1000" class="card-3__thumbnail" alt="Image">
      <figcaption class="card-3__content">
        <div class="card-3__title">Eva D. Dortch</div>
        <div class="card-3__sub-title">Housekeeper</div>
      </figcaption>
    </figure>
  </div>
</div>
