<div class="py-lg">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-3 cell">
        {{> pages-categories-sidenav}}
      </div>
      <div class="medium-9 cell">whta the fuck</div>
    </div>
  </div>
</div>
