<div class="sh-3 mb-sm">
  <h2 class="sh-3__title">Category</h2>
</div>
<ul class="list-underline text-small mb-lg">
  <li>
    <a href="#" class="text-muted">
      <i class="fa fa-circle text-secondary"></i> Smart Watch
    </a>
  </li>
  <li>
    <a href="#" class="text-muted">
      <i class="fa fa-circle text-secondary"></i> Handmade
    </a>
  </li>
  <li>
    <a href="#" class="text-muted">
      <i class="fa fa-circle text-secondary"></i> Desk Space
    </a>
  </li>
  <li>
    <a href="#" class="text-muted">
      <i class="fa fa-circle text-secondary"></i> Decorations
    </a>
  </li>
  <li>
    <a href="#" class="text-muted">
      <i class="fa fa-circle text-secondary"></i> Office Furniture
    </a>
  </li>
</ul>

<div class="sh-3 mb-md">
  <h2 class="sh-3__title">Pricing</h2>
</div>

<div class="sh-3 mb-md">
  <h2 class="sh-3__title">Color</h2>
</div>
<div class="mb-lg">
  <form action="/">
    {{> molecules-brick}}
    <div class="mt-md">
      <button class="btn btn--link" type="reset">Clear all</button>
    </div>
  </form>
</div>

<div class="sh-3 mb-md">
  <h2 class="sh-3__title">Size</h2>
</div>
<div class="mb-lg">
  <form action="/">
    {{> molecules-brick-2}}
    <div class="mt-md">
      <button class="btn btn--link" type="reset">Clear all</button>
    </div>
  </form>
</div>

<div class="sh-3 mb-md">
  <h2 class="sh-3__title">Manufactory</h2>
</div>
<ul class="list-underline text-small mb-lg">
  <li>
    <a href="#" class="text-muted">
      <i class="fa fa-circle text-secondary"></i> Johnson & Johnson
    </a>
  </li>
  <li>
    <a href="#" class="text-muted">
      <i class="fa fa-circle text-secondary"></i> Oracle Corporation
    </a>
  </li>
  <li>
    <a href="#" class="text-muted">
      <i class="fa fa-circle text-secondary"></i> General Electric
    </a>
  </li>
  <li>
    <a href="#" class="text-muted">
      <i class="fa fa-circle text-secondary"></i> Louis Vuitton
    </a>
  </li>
  <li>
    <a href="#" class="text-muted">
      <i class="fa fa-circle text-secondary"></i> L'Oréal
    </a>
  </li>
</ul>

<div class="sh-3 mb-md">
  <h2 class="sh-3__title">Top rated</h2>
</div>
<article class="d-flex mb-sm">
  <a href="#" class="mr-md">
    <img src="https://unsplash.it/90/115?image=1001" alt="Image">
  </a>
  <div>
    <h3 class="text-size-base text-thin m-0">T-Shirt Stripes</h3>
    <div class="text-muted">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </div>
    <div class="text-large text-bold">$158</div>
  </div>
</article>
<article class="d-flex mb-sm">
  <a href="#" class="mr-md">
    <img src="https://unsplash.it/90/115?image=1002" alt="Image">
  </a>
  <div>
    <h3 class="text-size-base text-thin m-0">T-Shirt Stripes</h3>
    <div class="text-muted">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </div>
    <div class="text-large text-bold">$99</div>
  </div>
</article>
<article class="d-flex mb-sm">
  <a href="#" class="mr-md">
    <img src="https://unsplash.it/90/115?image=1003" alt="Image">
  </a>
  <div>
    <h3 class="text-size-base text-thin m-0">T-Shirt Stripes</h3>
    <div class="text-muted">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </div>
    <div class="text-large text-bold">$25</div>
  </div>
</article>
<article class="d-flex mb-sm">
  <a href="#" class="mr-md">
    <img src="https://unsplash.it/90/115?image=1004" alt="Image">
  </a>
  <div>
    <h3 class="text-size-base text-thin m-0">T-Shirt Stripes</h3>
    <div class="text-muted">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </div>
    <div class="text-large text-bold">$68</div>
  </div>
</article>
