<label class="brick-2">
  <input type="checkbox" name="sizes">
  <span class="brick-2__body">S</span>
</label>
<label class="brick-2">
  <input type="checkbox" name="sizes">
  <span class="brick-2__body">M</span>
</label>
<label class="brick-2">
  <input type="checkbox" name="sizes">
  <span class="brick-2__body">L</span>
</label>
<label class="brick-2">
  <input type="checkbox" name="sizes">
  <span class="brick-2__body">XL</span>
</label>
