.banner {
  position: relative;

  width: 100%;
  height: 0;
  padding-bottom: ((9 / 29) * 100%);

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &__body {
    position: absolute;
    top: 50%;
    left: 50%;

    text-align: center;

    transform: translate(-50%, -50%);

    @media (--large-up) {
      left: 70%;

      text-align: left;

      transform: translate(0, -50%);
    }
  }

  &__title,
  &__sub-title {
    margin: 0;

    @include text-border;
  }

  &__sub-title {
    font-family: $font-secondary;
    font-size: responsive $font-size-h5 $font-size-h3;
  }

  &__title {
    font-size: responsive $font-size-h4 $font-size-h2;
    text-transform: uppercase;
  }
}
