// stylelint-disable selector-no-qualifying-type, selector-max-type, selector-max-specificity

.brick-2 {
  cursor: pointer;

  [type="checkbox"] {
    display: none;

    &:checked ~ .brick-2__body {
      border-color: $color-secondary;
    }
  }

  &__body {
    display: inline-block;
    width: ($root * 3);
    height: ($root * 3);

    font-size: $font-size-small;
    line-height: ($root * 3);
    text-align: center;

    border: 1px solid $color-border;

    transition: $anim-speed-quick border-color $anim-ease;

    &:hover {
      border-color: $color-secondary;
    }
  }
}
