.card {
  &.hover,
  &:hover {
    .card__hover-hide {
      display: none;
    }

    .card__hover-show {
      display: block;
    }
  }

  &__hover-hide {
    display: block;
    height: 35px;
  }

  &__hover-show {
    display: none;
  }

  &__thumbnail {
    position: relative;

    display: block;

    &::before {
      position: absolute 0;

      // visibility: hidden;
      content: "";

      background-color: rgba($color-primary, 0.2);
      opacity: 0;

      transition: $anim-speed-quick opacity $anim-ease;
    }

    &.hover,
    &:hover {
      &::before {
        // visibility: visible;

        opacity: 1;
      }

      .card__thumbnail-addon {
        opacity: 1;
      }
    }
  }

  &__thumbnail-addon {
    position: absolute;
    top: 50%;
    left: 50%;

    padding: $space-sm;

    font-size: $font-size-small;
    color: $color-white;
    text-align: center;

    background-color: $color-secondary;
    opacity: 0;
    transition: $anim-speed-quick opacity $anim-ease;
    transform: translate3d(-50%, -50%, 0);

    &--2 {
      font-weight: $font-weight-semi-bold;
      color: $color-primary;
      text-transform: uppercase;

      background-color: $color-white;
    }
  }

  &__content {
    text-align: center;
  }

  &__title,
  &__sub-title {
    display: block;

    font-size: $font-size-small;

    @include hover-focus {
      color: $color-secondary;
    }
  }

  &__title {
    font-weight: $font-weight-semi-bold;
  }

  &__sub-title {
    font-weight: $font-weight-light;

    color: $color-gray-85;
  }
}
