<div class="modal" tabindex="-1" role="dialog">
  <div class="modal__dialog" role="document">
    <div class="modal__content">
      <div class="modal__header">
        <h5 class="modal__title">Modal title</h5>
      </div>
      <div class="modal__body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, voluptatibus, sequi. Dolore assumenda vel vero dolorem
          repellendus veritatis tempora expedita quod neque, itaque tempore molestias dolor aperiam, rerum amet, soluta!
        </p>
      </div>
      <div class="modal__footer d-flex justify-content-end">
        <button type="button" class="btn btn--bordered mr-md" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn--secondary">Save changes</button>
      </div>
      <button type="button" class="modal__btn-close" data-dismiss="modal" aria-label="Close">
        <i class="fa fa-times fa-lg"></i>
      </button>
    </div>
  </div>
</div>
<div class="modal-backdrop" style="display: none"></div>
