// stylelint-disable primer/selector-no-utility
// Background colors
.bg-danger {
  background-color: $color-danger;
}

.bg-gray {
  background-color: $color-gray-50;
}

.bg-dark {
  background-color: $color-primary;
}

.bg-black {
  background-color: $color-black;
}

.bg-blue {
  background-color: $color-secondary;
}

// add image source inline
.bg-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
