// stylelint-disable plugin/no-unsupported-browser-features, selector-max-type

@mixin remove-list-default-style {
  padding: 0;
  margin: 0;

  list-style: none;
}

.list-separate {
  display: flex;

  @include remove-list-default-style;

  li {
    position: relative;

    &:not(:last-child) {
      padding-right: $space-md;

      &::after {
        position: absolute;
        top: 50%;
        right: 0;

        width: 1px;
        height: $space-sm;
        content: "";

        background-color: $color-gray-85;
        transform: translate3d(0, -50%, 0);
      }
    }

    &:not(:first-child) {
      padding-left: $space-md;
    }
  }
}

.list-unstyled {
  @include remove-list-default-style;
}

.list-inline {
  @include remove-list-default-style;

  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: $space-md;
    }
  }
}

.list-underline {
  @include remove-list-default-style;

  li {
    padding: $space-sm 0;

    &:not(:last-child) {
      border-bottom: 1px solid $color-gray-50;
    }
  }
}
