// stylelint-disable primer/selector-no-utility

.text-bold {
  font-weight: $font-weight-bold;
}

.text-thin {
  font-weight: $font-weight-light;
}

.text-large {
  font-size: $font-size-h4;
}

.text-size-base {
  font-size: $font-size-base;
}

.text-small {
  font-size: $font-size-small;
}

.text-size-h3 {
  font-size: $font-size-h3;
}

.text-size-h2 {
  font-size: $font-size-h2;
}

.text-size-h1 {
  font-size: $font-size-h1;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-white {
  color: $color-white;
}

.text-primary {
  color: $color-brand;
}

.text-secondary {
  color: $color-secondary;
}

.text-danger {
  color: $color-danger;
}

.text-muted {
  color: $color-text-subtle;
}

.text-font-secondary {
  font-family: $font-secondary;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-line-through {
  text-decoration: line-through;
}
