<ul class="list-underline">
  <li>38, Rue André Riviere, 69411 Allaindan</li>
  <li>74, Chemin de Laurent, 61556 Roussel</li>
  <li>73, Boulevard Lucas, 53626 Lefebvre</li>
  <li>66, Impasse Bigot, 38232 Albert</li>
</ul>
