<div class="grid-container py-xl">
  <div class="grid-x grid-padding-x">
    <div class="small-12 cell mb-md">
      <div class="sh">
        <h2 class="sh__title">Popular Products</h2>
      </div>
    </div>
    <div class="small-3 cell mb-md">
      {{> molecules-card}}
    </div>
    <div class="small-3 cell mb-md">
      {{> molecules-card}}
    </div>
    <div class="small-3 cell mb-md">
      {{> molecules-card}}
    </div>
    <div class="small-3 cell mb-md">
      {{> molecules-card}}
    </div>
    <div class="small-3 cell mb-md">
      {{> molecules-card}}
    </div>
    <div class="small-3 cell mb-md">
      {{> molecules-card}}
    </div>
    <div class="small-3 cell mb-md">
      {{> molecules-card}}
    </div>
    <div class="small-3 cell mb-md">
      {{> molecules-card}}
    </div>
    <div class="small-3 cell mb-md">
      {{> molecules-card}}
    </div>
    <div class="small-3 cell mb-md">
      {{> molecules-card}}
    </div>
    <div class="small-3 cell mb-md">
      {{> molecules-card}}
    </div>
    <div class="small-3 cell mb-md">
      {{> molecules-card}}
    </div>
  </div>
</div>