<div class="grid-container py-xl">
  <div class="grid-x grid-padding-x">
    <div class="large-10 cell large-offset-1">
      <div class="step">
        <div class="step__checkpoint done">
          <div class="step__item">01</div>
          <div class="step__text">Shopping cart</div>
        </div>
        <div class="step__line">
          <div class="step__line-icon"><i class="fa fa-caret-right"></i></div>
        </div>
        <div class="step__checkpoint done">
          <div class="step__item">02</div>
          <div class="step__text">Check out</div>
        </div>
        <div class="step__line">
          <div class="step__line-icon"><i class="fa fa-caret-right"></i></div>
        </div>
        <div class="step__checkpoint done">
          <div class="step__item">03</div>
          <div class="step__text">Order Complete</div>
        </div>
      </div>

    </div>
  </div>
</div>
