<div class="grid-container pb-xl">
  <div class="grid-x grid-padding-x">
    <div class="small-12 cell">
      <div class="text-center">
        <figure class="mb-lg">
          <img src="https://unsplash.it/600/450" alt="Thank you">
        </figure>
        <h2 class="text-uppercase text-size-h3 mb-xs">Your order is complete</h2>
        <h3 class="text-uppercase text-thin text-muted mb-lg text-large mb-md">Thank you for shopping with us</h3>
        <button class="btn btn--bordered mr-sm">Homepage</button>
        <button class="btn btn--secondary">Continue shopping</button>
      </div>
    </div>
  </div>
</div>
