<article class="card" style="width: 270px">
  <a href="#" class="card__thumbnail">
    <img src="https://unsplash.it/270/360" alt="Thumbnail">
    <div class="card__thumbnail-addon">Quick View</div>
  </a>
  <div class="card__content">
    <a href="#" class="card__title mt-md">T-Shirt Stripes Unique</a>
    <a href="#" class="card__sub-title mt-sm">Coat</a>
    <div class="my-sm">
      <div class="card__hover-hide text-bold text-large">
        $256
      </div>
      <div class="card__hover-show">
        <button class="btn btn--primary text-uppercase">Add to cart</button>
      </div>
    </div>
  </div>
</article>