<div class="grid-container pb-xl">
  <div class="grid-x grid-padding-x">
    <div class="large-6 cell">
      <form action="/" class="form py-md">
        <h3 class="text-large text-uppercase mb-lg">Billing details</h3>
        <div class="grid-x grid-padding-x">
          <div class="large-6 cell mb-md">
            <label for="first-name">First name</label>
            <input type="text" class="form__control" id="first-name">
          </div>
          <div class="large-6 cell mb-md">
            <label for="last-name">Last name</label>
            <input type="text" class="form__control" id="last-name">
          </div>
          <div class="large-6 cell mb-md">
            <label for="email">Email address</label>
            <input type="email" class="form__control" id="email">
          </div>
          <div class="large-6 cell mb-md">
            <label for="phone">Phone number</label>
            <input type="tel" class="form__control" id="phone">
          </div>
          <div class="large-12 cell mb-md">
            <label for="company">Company name (Optional)</label>
            <input type="text" class="form__control" id="company">
          </div>
          <div class="large-12 cell mb-md">
            <label for="country">Country</label>
            <select type="text" class="form__control" id="country">
              <option value="vn">Vietnam</option>
              <option value="vn">Vietnam</option>
              <option value="vn">Vietnam</option>
              <option value="vn">Vietnam</option>
            </select>
          </div>
          <div class="large-6 cell mb-md">
            <label for="tc">Town/City</label>
            <input type="text" class="form__control" id="tc">
          </div>
          <div class="large-6 cell mb-md">
            <label for="pz">Postcode/Zip</label>
            <input type="text" class="form__control" id="pz">
          </div>
          <div class="large-12 cell mb-md">
            <label for="address">Address</label>
            <input type="text" class="form__control" id="address">
          </div>

        </div>

        <label>
          <input type="checkbox" class="mr-sm">
          <span>Create an Account?</span>
        </label>

      </form>

      <div class="divider"></div>

      <button class="btn btn--primary mt-md">Shipping to a difference address</button>

    </div>
    <div class="large-6 cell">
      <section class="bg-dark p-md">
        <h3 class="text-large text-uppercase text-white mb-md">Your order</h3>
        <div class="divider-dark mb-md"></div>
        <h4 class="text-white text-size-base text-uppercase mb-md">Product</h4>
        <div class="grid-x mb-sm text-small">
          <div class="small-7">
            <div class="d-flex">
              <span class="text-muted item-fullfill mr-sm">Slimpit Vest Urban Men</span>
              <span class="text-white">x 1</span>
            </div>
          </div>
          <div class="small-5 text-secondary text-right item-no-shrink">$89.00</div>
        </div>

        <div class="grid-x text-small">
          <div class="small-7">
            <div class="d-flex">
              <span class="text-muted item-fullfill mr-sm">Underware Black</span>
              <span class="text-white">x 2</span>
            </div>
          </div>
          <div class="small-5 text-secondary text-right item-no-shrink">$138.00</div>
        </div>

        <div class="divider-dark mt-md"></div>

        <div class="py-md d-flex">
          <h4 class="text-white text-size-base text-uppercase m-0 item-fullfill">Subtotals</h4>
          <span class="text-secondary text-bold">$356.00</span>
        </div>

        <div class="divider-dark"></div>

        <div class="grid-x py-md">
          <div class="small-12 medium-5 d-flex">
            <h4 class="text-white text-size-base text-uppercase mb-md">Shipping</h4>
          </div>
          <div class="small-8 medium-4 text-muted text-right text-small">
            <div class="mb-sm">Free shipping</div>
            <div class="mb-sm">FedEx Fast Shipping</div>
            <div>Shipping Delivery</div>
          </div>
          <div class="small-4 medium-3 text-small text-right">
            <label class="mb-sm d-block">
              <span class="text-secondary mr-sm">$0.00</span>
              <input type="radio" name="shipping-method" checked>
            </label>
            <label class="mb-sm d-block">
              <span class="text-secondary mr-sm">$19.00</span>
              <input type="radio" name="shipping-method">
            </label>
            <label class="mb-sm d-block">
              <span class="text-secondary mr-sm">$9.00</span>
              <input type="radio" name="shipping-method">
            </label>
          </div>
        </div>

        <div class="divider-dark"></div>

        <div class="py-md d-flex">
          <h4 class="text-white text-size-base text-uppercase m-0 item-fullfill">Order totals</h4>
          <span class="text-secondary text-bold">$356.00</span>
        </div>

        <div class="divider-dark"></div>

        <div class="py-md">
          <div class="mb-md">
            <label class="mb-0">
              <input type="radio" name="payment-method" class="mr-sm">
              <span class="text-white">Visa/Master card <i class="fa fa-cc-visa"></i> <i class="fa fa-cc-mastercard"></i></span>
            </label>

            <div class="mt-sm grid-x grid-padding-x">
              <div class="medium-12 large-6 cell">
                <label for="card-number" class="text-white text-thin text-small">Card number</label>
                <input type="text" id="card-number" class="form__control" placeholder="XX XXXX XXXX XXXX">
              </div>
              <div class="medium-6 large-3 cell">
                <label for="card-expire" class="text-white text-thin text-small">Expire</label>
                <input type="text" id="card-expire" class="form__control" placeholder="MM/YY">
              </div>
              <div class="medium-6 large-3 cell">
                <label for="card-expire" class="text-white text-thin text-small">CVC</label>
                <input type="text" id="card-expire" class="form__control">
              </div>
            </div>
          </div>
          <div>
            <label class="mb-0">
              <input type="radio" name="payment-method" class="mr-sm">
              <span class="text-white">Paypal <i class="fa fa-paypal"></i></span>
            </label>
          </div>
        </div>

        <div class="divider-dark"></div>

        <button class="btn btn--secondary mt-lg">Place order</button>

      </section>
    </div>
  </div>
</div>
