<div class="eps" style="width: 580px">
  <div class="eps__content">
    <img src="https://unsplash.it/420/560?image=322" alt="image">
    <button class="eps__cta"><i class="fa fa-arrows-alt"></i></button>
  </div>
  <div class="eps__list-thumbnail">
    <div class="eps__thumbnail">
      <img src="https://unsplash.it/90/120?image=240" class="eps__thumbnail-img" alt="image">
    </div>
    <div class="eps__thumbnail">
      <img src="https://unsplash.it/90/120?image=241" class="eps__thumbnail-img" alt="image">
    </div>
    <div class="eps__thumbnail">
      <img src="https://unsplash.it/90/120?image=242" class="eps__thumbnail-img" alt="image">
    </div>
  </div>
</div>
