<nav class="nav">
  <div class="nav__toggle">
    <button class="nav__toggle-btn"><i class="fa fa-bars fa-lg"></i></button>
  </div>
  <div class="nav__body open">
    <div class="nav__item">
      <a href="#" class="nav__link active">Home</a>
    </div>
    <div class="nav__item has-dropdown">
      <a href="#" class="nav__link">Features <i class="fa fa-caret-down"></i></a>
      <div class="nav__dropdown">
        <a href="#" class="nav__sub-item">Support Center</a>
        <a href="#" class="nav__sub-item active">Delivery</a>
        <a href="#" class="nav__sub-item">Smartphone</a>
        <a href="#" class="nav__sub-item">Handmade</a>
        <a href="#" class="nav__sub-item">Interior Design</a>
        <a href="#" class="nav__sub-item">Product List</a>
      </div>
    </div>
    <div class="nav__item">
      <a href="#" class="nav__link">Men</a>
    </div>
    <div class="nav__item">
      <a href="#" class="nav__link">Women</a>
    </div>
    <div class="nav__item has-mega">
      <a href="#" class="nav__link">Accessories <i class="fa fa-caret-down"></i></a>
      <div class="nav__mega open">
        <div class="nav__mega-list">
          <div class="nav__mega-label">Collection</div>
          <a href="#" class="nav__sub-item active">Support Center</a>
          <a href="#" class="nav__sub-item">Delivery</a>
          <a href="#" class="nav__sub-item">Smartphone</a>
          <a href="#" class="nav__sub-item">Handmade</a>
        </div>
        <div class="nav__mega-list">
          <div class="nav__mega-label">Infomation</div>
          <a href="#" class="nav__sub-item">Support Center</a>
          <a href="#" class="nav__sub-item">Delivery</a>
          <a href="#" class="nav__sub-item">Smartphone</a>
          <a href="#" class="nav__sub-item">Handmade</a>
        </div>
        <div class="nav__mega-list">
          <div class="nav__mega-label">Support Center</div>
          <a href="#" class="nav__sub-item">Support Center</a>
          <a href="#" class="nav__sub-item">Delivery</a>
          <a href="#" class="nav__sub-item">Smartphone</a>
          <a href="#" class="nav__sub-item">Handmade</a>
        </div>
        <div class="nav__mega-list">
          <div class="px-md py-sm">
            <a href="#">
              <img src="https://unsplash.it/260/162" alt="Advertise">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="nav__item">
      <a href="#" class="nav__link">Blog</a>
    </div>
    <div class="nav__item">
      <a href="#" class="nav__link">Contact</a>
    </div>

    <div class="nav__addon">
      <a href="tel:(364) 106-7572" class="nav__addon-item"><i class="fa fa-phone"></i> Hot line: (364) 106-7572</a>
    </div>
  </div>
</nav>
