<nav class="nav">
  <div class="nav__item">
    <a href="#" class="nav__link">Home</a>
  </div>
  <div class="nav__item">
    <a href="#" class="nav__link">Features</a>
  </div>
  <div class="nav__item">
    <a href="#" class="nav__link">Men</a>
  </div>
  <div class="nav__item">
    <a href="#" class="nav__link">Women</a>
  </div>
  <div class="nav__item">
    <a href="#" class="nav__link">Accessories</a>
  </div>
  <div class="nav__item">
    <a href="#" class="nav__link">Blog</a>
  </div>
  <div class="nav__item">
    <a href="#" class="nav__link">Contact</a>
  </div>
</nav>
