<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #252525;"></span>
		<span class="sg-label">
			$color-brand
			<br /> #252525
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #32c5d2;"></span>
		<span class="sg-label">
			$color-secondary
			<br /> #32c5d2
		</span>
	</li>
</ul>
