<div style="width: 300px">
  <figure class="card-3">
    <img src="https://unsplash.it/300/400?random" class="card-3__thumbnail" alt="Image">
    <figcaption class="card-3__content">
      <div class="card-3__title">Eva D. Dortch</div>
      <div class="card-3__sub-title">Housekeeper</div>
    </figcaption>
  </figure>
</div>
