<div class="py-lg">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-6 cell">
        {{> molecules-everest-product-slider}}
      </div>
      <div class="large-6 cell">
        <div class="d-flex mb-lg">
          <div class="item-fullfill">
            <h2 class="text-large mb-xs">Lilies Purple Valentine</h2>
            <div class="list-inline">
              <div class="list-item">
                <i class="fa fa-star text-secondary"></i>
                <i class="fa fa-star text-secondary"></i>
                <i class="fa fa-star text-secondary"></i>
                <i class="fa fa-star text-secondary"></i>
                <i class="fa fa-star text-muted"></i>
              </div>
              <div class="list-item">
                <div class="list-separate">
                  <div class="list-item">
                    <a href="#reviews" class="text-muted text-small">4 Reviews</a>
                  </div>
                  <div class="list-item">
                    <button href="#reviews" class="btn btn--link">Add your review</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <button class="btn btn--bordered"><i class="fa fa-chevron-left"></i></button>
            <button class="btn btn--bordered"><i class="fa fa-chevron-right"></i></button>
          </div>
        </div>

        <div class="mb-lg">
          <span class="text-large text-bold mr-md">$102.35</span>
          <span class="text-muted text-line-through">$202.05</span>
        </div>

        <p class="mb-lg text-muted">Coupling a blended linen construction with tailored style the River Island HR Jasper Blazer will imprint a touch
          of dapper charm into your after-dark wardrobe.</p>

        <div class="divider mb-lg"></div>

        <div class="grid-x mb-lg">
          <div class="medium-2 cell mb-xs">
            <span class="text-bold">Colors</span>
          </div>
          <div class="medium-10 cell mb-xs">
            {{> molecules-brick}}
          </div>
          <div class="medium-2 cell">
            <span class="text-bold">Sizes</span>
          </div>
          <div class="medium-10 cell">
            {{> molecules-brick-2}}
          </div>
        </div>

        <div class="mb-lg d-flex">
          <div class="mr-md">
            <input type="number" class="form__control" min="1" max="10" value="1">
          </div>
          <button class="btn btn--secondary text-uppercase mr-md"><i class="fa fa-shopping-bag"></i> Add to cart</button>
          <button class="btn btn--bordered"><i class="fa fa-heart-o"></i></button>
        </div>

        <div class="grid-x mb-lg">
          <div class="medium-2 cell mb-xs">
            <span class="text-bold">Categories</span>
          </div>
          <div class="medium-10 cell mb-xs">
            <a href="#" class="text-muted">T-Shirt</a>
          </div>
          <div class="medium-2 cell">
            <span class="text-bold">Tags</span>
          </div>
          <div class="medium-10 cell">
            <a href="#" class="text-muted">Underwear</a>, <a href="#" class="text-muted">Cotton</a>, <a href="#" class="text-muted">Flyknit</a>
          </div>
        </div>

        <div class="divider mb-lg"></div>

        <div class="grid-x align-items-center">
          <div class="medium-2 cell">
            <span class="text-bold">Share on</span>
          </div>
          <div class="medium-10 cell">
            <div class="list-inline">
              <div class="list-item"><i class="fa fa-facebook"></i></div>
              <div class="list-item"><i class="fa fa-google-plus"></i></div>
              <div class="list-item"><i class="fa fa-twitter"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-container cell mt-xl">
    {{> pages-product-detail-tab}}
  </div>
  {{> pages-product-detail-related}}
</div>
