<section class="grid-container mt-xl">
  <div class="grid-x grid-padding-x">
    <div class="small-12 cell text-center">
      <h2 class="text-uppercase text-large mb-md">Related Products</h2>
    </div>
    <div class="medium-3 cell">
      {{> molecules-card}}
    </div>
    <div class="medium-3 cell">
      {{> molecules-card}}
    </div>
    <div class="medium-3 cell">
      {{> molecules-card}}
    </div>
    <div class="medium-3 cell">
      {{> molecules-card}}
    </div>
  </div>
</section>
