<div class="bg-blue py-lg">
  <div class="grid-container cell">
    <div class="d-flex align-items-center justify-content-center">
      <div class="text-white text-large mr-md">Any question? Get in touch with us</div>
      <button class="btn btn--bordered btn--large btn--rounded text-white text-uppercase text-bold">Get in touch</button>
    </div>
  </div>
</div>